<!doctype html>
<html lang="fr">
  <head>
    {% render "head", metadata: site.metadata %}
  </head>
  <body>
    {% render "navbar/navbar", metadata: site.metadata, page: page %}

    <main>
      {{ content }}
    </main>

  </body>
</html>
